<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Université - Gestion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue dans STUDGEST</h1>
        <p class="texte">Cette Plateforme vous permet de gérer les étudiants et les filières de votre université</p>

        <div id="bbtn">
            <a href="{{ url_for('list_students') }}" class="button">Gérer les étudiants</a>
            <a href="{{ url_for('list_filieres') }}" class="button">Gérer les filières</a>
        </div>
        
    </div>
</body>
</html>
